.app--section
        ul.app--message--list
          li
            h3
              | Conversation with 
              a #{reciever}
            ul.app--message--conversation
              li.app--message
                .app--avatar(style=`background-image: url(${senderAvatar})`)
                p.app--message--text #{sentMessage[3]}
                p.app--message--timestamp #{sentMsgTime[3]}
              li.app--message--me
                .app--avatar(style=`background-image: url(${recieverAvatar})`)
                p.app--message--text #{recMessage[2]}
                p.app--message--timestamp #{recMsgTime[2]}
              li.app--message
                .app--avatar(style=`background-image: url(${senderAvatar})`)
                p.app--message--text #{sentMessage[2]}
                p.app--message--timestamp #{sentMsgTime[2]}
              li.app--message--me
                .app--avatar(style=`background-image: url(${recieverAvatar})`)
                p.app--message--text #{recMessage[1]}
                p.app--message--timestamp #{recMsgTime[2]}
              li.app--message
                .app--avatar(style=`background-image: url(${senderAvatar})`)
                p.app--message--text #{sentMessage[1]}
                p.app--message--timestamp #{sentMsgTime[1]}
