.app--section
        ul.app--user--list
          li
            .circle--fluid
              .circle--fluid--cell.circle--fluid--primary
                a.app--tweet--author
                  .app--avatar(style=`background-image: url(${friendAvatar[0]})`)
                  h4 #{friendName[0]}
                  p #{friendHandle[0]}
              .circle--fluid--cell
                if `${friendStatus[0]}`
                  a.button.button-text Unfollow
                else 
                  a.button Follow
          li
            .circle--fluid
              .circle--fluid--cell.circle--fluid--primary
                a.app--tweet--author
                  .app--avatar(style=`background-image: url(${friendAvatar[1]})`)
                  h4 #{friendName[1]}
                  p #{friendHandle[1]}
              .circle--fluid--cell
                if `${friendStatus[1]}`
                  a.button.button-text Unfollow
                else 
                  a.button Follow
          li
            .circle--fluid
              .circle--fluid--cell.circle--fluid--primary
                a.app--tweet--author
                  .app--avatar(style=`background-image: url(${friendAvatar[2]})`)
                  h4 #{friendName[2]}
                  p #{friendHandle[2]}
              .circle--fluid--cell
                if `${friendStatus[2]}`
                  a.button.button-text Unfollow
                else 
                  a.button Follow
          li
            .circle--fluid
              .circle--fluid--cell.circle--fluid--primary
                a.app--tweet--author
                  .app--avatar(style=`background-image: url(${friendAvatar[3]})`)
                  h4 #{friendName[3]}
                  p #{friendHandle[3]}
              .circle--fluid--cell
                if `${friendStatus[3]}`
                  a.button.button-text Unfollow
                else 
                  a.button Follow
          li
            .circle--fluid
              .circle--fluid--cell.circle--fluid--primary
                a.app--tweet--author
                  .app--avatar(style=`background-image: url(${friendAvatar[4]})`)
                  h4 #{friendName[4]}
                  p #{friendHandle[4]}
              .circle--fluid--cell
                if `${friendStatus[4]}`
                  a.button.button-text Unfollow
                else 
                  a.button Follow